@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

input, select, option {
    @apply dark:text-white dark:bg-transparent
}

select {
    @apply dark:bg-slate-900
}

.active {
    @apply underline
}

@theme {
    --animate-flash: flash 1s ease-in-out;
    @keyframes flash {
        from { background: white }
        to   { background: default; }
    }
}

.animate-flash {
    animation-iteration-count: 1;
}

.multi:not(.active) {
    @apply dark:text-slate-300
}

@layer base {
    button,
    [role='button'] {
        cursor: pointer;
    }
    button:disabled,
    [role='button']:disabled {
        cursor: default;
    }
}